.country_des{
    background-color: aliceblue;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    width: 130px;
    height:130px;
    padding: 7px;
    position: absolute;
    border-radius: 50%;
    font-weight: 700;
    line-height: 1.5em;
    box-shadow: 0px 0px 10px rgb(15, 0, 35);
    box-shadow: inset 0 0 20px rgba(13, 9, 38, 0.844);
    
    

}
#country-name{
    font-size: 1.5em;
    font-weight: 300;
    color:white ;
    line-height: 1.1em;
    transform: translateY(58%);
    text-shadow: 0px 0px 10px black;


    /*transform: translateY(25%) translateX(7%);*/
}
.info-button{
    background-color:rgb(0, 4, 45);
    width: 60px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
    font-weight: 300;
    margin-top: 0px;
    text-decoration: none;
    color:white;
    transform: translateY(100%) translateX(2%);
    font-family: 'Open Sans';
    /*transform: translateY(70%) translateX(10%);*/
    
}
.info-button:hover{
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.us_des{
    transform: translateX(-190%) translateY(-60%);
    background-image: url(usa_photo.jpeg);
    background-size:cover;
}
.grenada_des{
    transform:translateX(200%) translateY(100%);
    background-image: url(example_pic.png);
    background-size:cover;
}
.ecuador_des{
    transform:translateX(100%) translateY(200%);
    background-image: url(costa_rica_pic.jpeg);
    background-size:cover;
}

.egypt_des{
    transform:translateX(-90%) translateY(185%);
    background-image: url(tajikistan_pic.jpeg);
    background-size:cover;
}

.india_a_des{
    transform:translateX(130%) translateY(-80%);
    background-image: url(india_photo.jpeg);
    background-size:cover;

}

.india_b_des{
    transform:translateX(200%) translateY(15%);
    background-image: url(india_photo_2.jpeg);
    background-size:cover;

}

.madagascar_des{
    transform:translateX(-180%) translateY(100%);
    background-image: url(tanzania_pic.jpeg);
    background-size:cover;

}

.korea_des{
    transform:translateX(70%) translateY(200%);
    background-image: url(south_korea_pic.jpeg);
    background-size:cover;

}

.japan_des{
    transform:translateX(190%) translateY(140%);
    background-image: url(japan_pic.png);
    background-size:cover;

}

.china_des{
    transform:translateX(-190%) translateY(-60%);
    background-image: url(china_photo.png);
    background-size:cover;

}
  
  




@media all and (max-width: 600px){
    
    .country_des{
        background-color: aliceblue;
        opacity: 100%;
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans';
        width: 100px;
        height:100px;
        padding: 7px;
        position: absolute;
        border-radius: 50%;
        font-weight: 700;
        line-height: 1.5em;
        box-shadow: 0px 0px 10px rgb(15, 0, 35);
        box-shadow: inset 0 0 20px rgba(13, 9, 38, 0.844);
        
        
  
    }
    #country-name{
        font-size: 1.2em;
        font-weight: 300;
        color:white ;
        line-height: 1.1em;
        transform: translateY(73%);
        text-shadow: 0px 0px 10px black;


        /*transform: translateY(25%) translateX(7%);*/
    }
    .info-button{
        background-color:rgb(0, 4, 45);
        width: 50px;
        height:20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.5em;
        font-weight: 300;
        margin-top: 0px;
        text-decoration: none;
        color:white;
        transform: translateY(160%) translateX(2%);
        font-family: 'Open Sans';
        /*transform: translateY(70%) translateX(10%);*/
        
    }
    .info-button:hover{
        background-color: black;
        transition: all 0.3s ease-in-out;
    }

    .us_des{
        transform: translateX(-90%) translateY(-60%);
        background-image: url(usa_photo.jpeg);
        background-size:cover;
    }
    .grenada_des{
        transform:translateX(100%) translateY(170%);
        background-image: url(example_pic.png);
        background-size:cover;
    }
    .ecuador_des{
        transform:translateX(-60%) translateY(230%);
        background-image: url(costa_rica_pic.jpeg);
        background-size:cover;
    }
    
    .egypt_des{
        transform:translateX(105%) translateY(235%);
        background-image: url(tajikistan_pic.jpeg);
        background-size:cover;
    }

    .india_a_des{
        transform:translateX(20%) translateY(-75%);
        background-image: url(india_photo.jpeg);
        background-size:cover;

    }

    .india_b_des{
        transform:translateX(100%) translateY(-10%);
        background-image: url(india_photo_2.jpeg);
        background-size:cover;

    }

    .madagascar_des{
        transform:translateX(-100%) translateY(180%);
        background-image: url(tanzania_pic.jpeg);
        background-size:cover;

    }

    .korea_des{
        transform:translateX(30%) translateY(240%);
        background-image: url(south_korea_pic.jpeg);
        background-size:cover;

    }

    .japan_des{
        transform:translateX(112%) translateY(160%);
        background-image: url(japan_pic.png);
        background-size:cover;

    }

    .china_des{
        transform:translateX(-95%) translateY(-60%);
        background-image: url(china_photo.png);
        background-size:cover;

    }

}

@media all and (max-width: 320px){
    .country_des{
        background-color: aliceblue;
        opacity: 100%;
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans';
        width: 95px;
        height:95px;
        padding: 7px;
        position: absolute;
        border-radius: 50%;
        font-weight: 700;
        line-height: 1.5em;
        box-shadow: 0px 0px 10px rgb(15, 0, 35);
        box-shadow: inset 0 0 20px rgba(13, 9, 38, 0.844);
        
        
  
    }
    #country-name{
        font-size: 1.2em;
        font-weight: 300;
        color:white ;
        line-height: 1.1em;
        transform: translateY(73%);
        text-shadow: 0px 0px 10px black;


        /*transform: translateY(25%) translateX(7%);*/
    }
    .info-button{
        background-color:rgb(0, 4, 45);
        width: 50px;
        height:20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.5em;
        font-weight: 300;
        margin-top: 0px;
        text-decoration: none;
        color:white;
        transform: translateY(170%) translateX(2%);
        font-family: 'Open Sans';
        /*transform: translateY(70%) translateX(10%);*/
        
    }
    .info-button:hover{
        background-color: black;
        transition: all 0.3s ease-in-out;
    }

    .us_des{
        transform: translateX(-70%) translateY(-130%);
        background-image: url(usa_photo.jpeg);
        background-size:cover;
    }
    .grenada_des{
        transform:translateX(90%) translateY(60%);
        background-image: url(example_pic.png);
        background-size:cover;
    }
    .ecuador_des{
        transform:translateX(-60%) translateY(120%);
        background-image: url(costa_rica_pic.jpeg);
        background-size:cover;
    }
    
    .egypt_des{
        transform:translateX(-50%) translateY(175%);
        background-image: url(tajikistan_pic.jpeg);
        background-size:cover;
    }

    .india_a_des{
        transform:translateX(20%) translateY(-155%);
        background-image: url(india_photo.jpeg);
        background-size:cover;

    }

    .india_b_des{
        transform:translateX(95%) translateY(-90%);
        background-image: url(india_photo_2.jpeg);
        background-size:cover;

    }

    .madagascar_des{
        transform:translateX(-90%) translateY(80%);
        background-image: url(tanzania_pic.jpeg);
        background-size:cover;

    }

    .korea_des{
        transform:translateX(0%) translateY(150%);
        background-image: url(south_korea_pic.jpeg);
        background-size:cover;

    }

    .japan_des{
        transform:translateX(90%) translateY(100%);
        background-image: url(japan_pic.png);
        background-size:cover;

    }

    .china_des{
        transform:translateX(-85%) translateY(-145%);
        background-image: url(china_photo.png);
        background-size:cover;

    }
    
    



}